@charset "EUC-KR";

label{
	margin-left: 10px;
	font-size: 20px;
	display: block;
}

#margin{
	margin-right: 20px;  
}

#search-wrapper{
	border: 1px solid black;
	padding: 2px;
}
    
#loginbar,#recommandbar, #rankbar{
	border: 1px solid #bcbcbc;
	padding: 10px;
	margin: 15px;
	height: auto;
}

.menu-wrap{        
}
.menu-wrap > ul{
	display: block;
}
.menu-wrap > ul > li{
	display:inline-block;
}

/* 서브메뉴 스타일 */
.menu-wrap li ul{
	display:none;
	width:200px;
	list-style: none;
  	margin-top:10px;
	margin-left:-10px;
	padding:0px;
	flex: auto;
}
.menu-wrap li{
	padding:10px;  
}            
.menu-wrap li:hover{
}            
.menu-wrap li:hover > ul{
	display:inline-block;
}

.sub-wrap ul{
	display:none;
	width:200px;
	list-style: none;
	margin-top:10px;
	margin-left:-10px;
	padding:0px;
	flex: auto;
	font-size: 15px;
}
.sub-wrap li:hover > ul {
	display: inline-block;
}

.empty-row{
    display: block;
    width:100%;
    height:50px;
    margin: 20px;
}
.member{
	width: 1400px;
	margin-left: 100px;
}
.search{
	font-size: 20px;
}
.info{
	width: 60%;
	margin-left: 20%;
}
.btn{
	margin : 0px 10px 20px 10px;
}

#login-form > div {
	margin: 20px 0;
}
.panel-title{
    font-size: 40px;
}    



/* btn */
.date-btn{
	padding: 10px;
	font-size: 13px;
   	background-color: dodgerblue;
	color: white;
	border-radius: 10px;
}
.none-btn{
	padding: 10px;
	font-size: 13px;
	background-color: darkgray;
	color: gainsboro;
	border-radius: 10px;
	margin-bottom: 10px;
}
.left{
	margin-right: 71%;
}
.right{
	margin-left: auto;
}
            
/* table */
.c-table{
	border-collapse: collapse;
	width: 100%;
}
            
/* div */
.login-view{
	margin:10px 1px; 
	background-color: darkseagreen;
	color: white;
	font-weight: bold;
	text-emphasis-color: aqua;
}